<div class="card text-center">
  <div class="card-header">
    Chuyên cung cấp gái xinh cho ae
  </div>
  <div class="card-body">
    <h5 class="card-title">Gái xinh bờ bung</h5>
    <p class="card-text">Thử đi là biết đi một lần thì sẽ có nhiều lần hơn nữa</p>
    <a href="#" class="btn btn-primary">Đặt là có ngay</a>
  </div>
  <div class="card-footer text-muted">
    &copy;2022
  </div>
</div>